.Weather {
  border: 1px solid #dadde1;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: "Lato", sans-serif;
  color: rgb(135, 135, 135);
  padding: 16px;
  max-width: 500px;
  max-height: 600px;
  border-radius: 4px;
}

.Weather h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 800;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  text-align: center;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .temperature {
  font-weight: bold;
  text-align: center;
  margin: 20px;
  color: rgb(33, 33, 33);
  font-size: 68px;
  font-weight: 400;
  line-height: 64px;
}

.Weather .icon {
  size: 40px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -32px;
  margin-left: 0px;
}
